body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  background-image: url('/Pictures/background\ .jpg');
  background-size: cover;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

thead {
  background-color: #007bff;
  color: white;
  text-align: left;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

button {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.view-btn {
  background-color: #28a745;
  color: white;
}

.view-btn:hover {
  background-color: #218838;
}

.delete-btn {
  background-color: #dc3545;
  color: whi
}

.back-button {
  display: inline-block;
  margin-bottom: 20px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 6px 0;
  cursor: pointer;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  color: white;
}